.control-panel {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 18px;
    background: #fff;
    min-height: 200px;
    min-width: 400px;
    margin-right: 50px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 20px 20px 20px 20px !important;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    display: block;
    padding: 0;
    outline: none;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
}

/* .control-panel h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin: 8px 0;
}

.control-panel a {
    display: inline;
}

.control-panel p {
    margin-bottom: 16px;
}

.control-panel .legend {
    display: inline-block;
    width: 12px;
    height: 12px;
}

.control-panel hr {
    margin: 12px -24px;
}

.control-panel .input {
    position: relative;
    display: flex;
    width: 100%;
}

.control-panel .input>* {
    vertical-align: middle;
    white-space: nowrap;
}

.control-panel .input label {
    text-transform: uppercase;
    width: 50%;
    margin-right: 10%;
    color: #486865;
    margin-bottom: 4px;
}

.control-panel .input input,
.control-panel .input a {
    font-size: 0.9em;
    display: inline-block;
    padding: 0 4px;
    width: 40%;
    height: 20px;
    line-height: 1.833;
}

.control-panel .input input[type="checkbox"],
.control-panel .input input[type="radio"],
.control-panel .input input[type="color"] {
    width: 20%;
}

.control-panel .input input {
    border: solid 1px #ccc;
}

.control-panel .input input:disabled {
    background: #fff;
}

.control-panel .input input[type="checkbox"] {
    height: auto;
}

.control-panel .input .tooltip {
    left: 50%;
    top: 24px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms;
}

.control-panel .input:hover .tooltip {
    opacity: 1;
} */