@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import "~bulma/sass/utilities/initial-variables.sass";

// Set your brand colors
$warning: rgb(236, 180, 25);
$primary: hsl(18, 100, 52);
$danger: rgb(214, 0, 0);
$info: hsl(226, 100, 47);
// $beige-light: #fceedc50;
// $beige-lighter: #fceedc50;
// // $blue:

// Update Bulma's global variables
$family-sans-serif: "Open Sans", sans-serif;
// $primary: $blue;
// $link: $blue;



// // Update some of Bulma's component variables
$footer-padding: 1rem 1.5rem 0.5rem;

// $body-background-color: $beige-lighter;
// $navbar-background-color: $grey-lightest;

// Import only what you neesd from Bulma
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";

@import "../node_modules/bulma/sass/components/breadcrumb.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/menu.sass";
@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";

.is-fullheight {
    height: 100vh;
}

.content {
    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    h3 {
        font-size: 1.0rem;
    }

    h4 {
        font-size: 0.9rem;
    }
}

.content.is-normal {
    font-size: 0.9rem;
}

.message a:not(.button):not(.tag):not(.dropdown-item) {
    text-decoration: none;
}


@media print {
    .is-hidden-print {
        // .no-break {
        //     word-break: normal;
        //     min-width: 150px;
        // }
        display: none !important;
    }

    .section {
        padding: 0 0;
        margin-bottom: 0;
    }

    table,
    td,
    th {
        min-width: 100px;
    }
}