@charset "utf-8";

@import "~bulma/sass/utilities/initial-variables.sass";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");

// Update Bulma's global variables
$family-sans-serif: "Open Sans", sans-serif;
$warning: rgb(236, 180, 25%);
$primary: hsl(18, 100%, 52%);
$danger: rgb(214, 0, 0%);
$info: hsl(226, 100%, 47%);
$link: hsl(226, 100%, 39%);
$link-hover: hsl(18, 100%, 52%);

$section-padding: 0.5rem 0.5rem;
$section-padding-desktop: 0.5rem 3rem;

$footer-padding: 1rem 1.5rem 0.5rem;
$modal-content-width: 80vw;
$message-body-padding: 1rem 1rem 0rem 1rem;
$tabs-border-bottom-width: 2px;

// Import only what you neesd from Bulma
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";

$table-cell-border: 1px solid $grey;
$breadcrumb-item-color: $grey-dark;

// Bulma Elements
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
// @import "../node_modules/bulma/sass/elements/progress.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/title.sass";

// Bulma Components
@import "../node_modules/bulma/sass/components/breadcrumb.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/level.sass";
// @import "../node_modules/bulma/sass/components/media.sass";
// @import "../node_modules/bulma/sass/components/menu.sass";
@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/components/pagination.sass";
// @import "../node_modules/bulma/sass/components/panel.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";


// Bulma Form
@import "../node_modules/bulma/sass/form/shared.sass";
@import "../node_modules/bulma/sass/form/input-textarea.sass";
@import "../node_modules/bulma/sass/form/checkbox-radio.sass";
@import "../node_modules/bulma/sass/form/select.sass";
// @import "../node_modules/bulma/sass/form/file.sass";
@import "../node_modules/bulma/sass/form/tools.sass";

// Bulma Grid
@import "../node_modules/bulma/sass/grid/columns.sass";


// Bulma Layout
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";

body {
    &.default {
        display: flex;
        // use this if navbar is NOT fixed (default)
        min-height: 100vh;
        flex-direction: column;
    }

    &.has-navbar-fixed-top {
        display: flex;
        // use this if navbar is fixed
        min-height: calc(100vh - #{$navbar-height});
        flex-direction: column;
    }
}

section {
    &.is-fullheight-with-navbar {
        min-height: calc(100vh - #{$navbar-height});
    }
}

.navbar {
    width: 100vw;
}


.content {
    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    h3 {
        font-size: 1.0rem;
    }

    h4 {
        font-size: 0.9rem;
    }
}

.content.is-normal {
    font-size: 0.9rem;
}

.message a:not(.button):not(.tag):not(.dropdown-item) {
    text-decoration: none;
}


.input:invalid {
    border-color: $danger;
}

button {
    &.is-ahref {
        appearance: unset;
        background-color: transparent;
        color: $link;
        border: none;
        // padding: 0;
        font-size: 1em;
        cursor: pointer;

        &:hover {
            color: $link-hover;
        }
    }
}

@media screen {
    .is-print {
        display: none !important;
    }
}

@media print {

    @page {
        // size: A4 landscape;

        @bottom-right {
            content: counter(page);
        }

        @bottom-center {
            content: "SitRep";
        }
    }

    .is-hidden-print {
        // .no-break {
        //     word-break: normal;
        //     min-width: 150px;
        // }
        display: none !important;
    }


    .table {
        font-size: 11px;
    }

    .title.is-1 {
        font-size: 24px;
    }

    .title.is-2 {
        font-size: 20px;
    }

    .title.is-3 {
        font-size: 18px;
    }

    .title.is-4 {
        font-size: 18px;
    }

    .title.is-4 {
        font-size: 18px;
    }


    .content.is-normal {
        font-size: 11px;
    }

    .content {
        h1 {
            font-size: 14px;
        }

        h2 {
            font-size: 12px;
        }

        h3 {
            font-size: 12px;
        }

        h4 {
            font-size: 11px;
        }
    }
}